extends layout

block content
  h1= title
  ul
    if user 
      p #{user.slug}
    li: a(href="users/logout") Log Out
    li: a(href="users/profile") Profile #{user.slug}
  p Welcome to #{title}
  p  #{views}
